:root{
    --fundo: #836FFF;
    --cartao-frente: #6959CD;
    --cartao-verso:#6A5ACD;
    --destaque: #483D8B;
    --preto:#000000;
    --branco: #ffffff;

}
body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    background-color: var(--preto);
    position: fixed;
    bottom:0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}